<style>
    /* http://paletton.com/#uid=3010A0kdV9wd5vYcOlgk14Hou24 */
    #event-catcher{
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    #top-bar {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        list-style: none;
        border-bottom: solid 1px rgb(44, 18, 16);
        font-size: 0;
        display: block;
        background-color: rgb(12, 21, 28);
    }

    #top-bar li {
        margin-right: 1px;
        display: inline-block;
        padding: 3px 15px 3px 15px;
        background-color: rgb(21, 28, 33);
        height: 30px;
        width: 125px;
        white-space: nowrap;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
    }

</style>
<div id="event-catcher"></div>
<div ng-controller="GameUiController">
    <ul id="top-bar">
        <li>Score: {{Player.Score}}</li>
        <li>Health: {{Player.HomeBase.Health}}</li>
        <li ng-repeat="(key, value) in Player.Resources">{{key}}: {{value | number : 0}}</li>
        <li>Waves Left: {{Level.Waves.length}}</li>
    </ul>
    <ul class="list right-border10" style="width:150px; margin: 0;  position: relative; left: 0; top: 0">
        <li class="title">Buildings</li>
        <li class="button right smaller" ng-repeat="(key, value) in Buildings" ng-click="CreateBuilding(value)">
            {{key}}
        </li>
    </ul>
</div>
