<style>
    /* http://paletton.com/#uid=3010A0kdV9wd5vYcOlgk14Hou24 */
    #event-catcher {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    #top-bar {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        list-style: none;
        border-top: outset 5px rgb(44, 18, 16);
        border-bottom: ridge 3px rgb(44, 18, 16);
        font-size: 0;
        background: linear-gradient(to bottom, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
    }

    #top-bar li {
        margin-right: 1px;
        display: inline-block;
        overflow: hidden;
    }

    #top-bar li div {
        padding: 0px 15px 0px 15px;
        text-align: center;
    }

    #top-bar li div:nth-child(1) {
        line-height: 20px;
        font-size: 16px;
        padding-top: 6px;
    }

    #top-bar li div:nth-child(2) {
        color: #ccc;
        line-height: 16px;
        font-size: 16px;
        padding-top: 3px;
    }

    #top-bar li div:nth-child(3) {
        line-height: 8px;
        font-size: 10px;
        padding-bottom: 3px;
    }
</style>
<div id="event-catcher"></div>
<div ng-controller="GameUiController">
    <ul id="top-bar">
        <li>
            <div>Score</div>
            <div>{{Player.Score}}</div>
            <div>&nbsp;</div>
        </li>
        <li>
            <div>Health</div>
            <div>{{Player.HomeBase.Health}}</div>
            <div>&nbsp;</div>
        </li>
        <li ng-repeat="(key, value) in Player.Resources">
            <div>{{key}}</div>
            <div>{{value | number : 0}}</div>
            <div style="color: #faa;">{{Cost !== null && Cost[key] > 0 ? -Cost[key] : "&nbsp;"}}</div>
        </li>
        <li>
            <div>Waves Left</div>
            <div>{{Level.Waves.length}}</div>
            <div>&nbsp;</div>
        </li>
    </ul>
    <ul class="list right-border10" style="width:150px; margin: 0;  position: relative; left: 0; top: 0">
        <li class="title">Buildings</li>
        <li class="button right smaller" ng-repeat="(key, value) in Buildings" ng-click="CreateBuilding(value)"
            ng-mouseover="ShowCost(value.Cost)" ng-mouseleave="HideCost()">
            {{key}}
        </li>
    </ul>
</div>
