<style>
    /* http://paletton.com/#uid=3010A0kdV9wd5vYcOlgk14Hou24 */
    #event-catcher {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    #top-bar {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        list-style: none;
        border-top: outset 5px rgba(55, 22, 20, .5);
        border-bottom: solid 1px rgba(55, 22, 20, .5);
        font-size: 0;
        z-index: 1000;
    }

    #top-bar li {
        margin-right: 1px;
        display: inline-block;
        overflow: hidden;
    }

    #top-bar li div {
        padding: 0px 15px 0px 15px;
        text-align: center;
    }

    #top-bar li div:nth-child(1) {
        line-height: 20px;
        font-size: 16px;
        padding-top: 3px;
    }

    #top-bar li div:nth-child(2) {
        color: #ccc;
        line-height: 16px;
        font-size: 16px;
        padding-top: 3px;
    }

    #top-bar li div:nth-child(3) {
        line-height: 8px;
        font-size: 10px;
        padding-bottom: 3px;
    }

    #building-list {
        position: relative;
        display: inline-block;
        width: 150px;
        margin: 0;
        left: 0;
        z-index: 1000;
        border-right: solid 3px rgba(55, 22, 20, .5);
    }

    .stat-bar {
        position: absolute;
        display: inline-block;
        padding: 0;
        right: 0;
        list-style: none;
        background: linear-gradient(to bottom, rgba(18, 18, 18, .75), rgba(10, 10, 10, .75));
        border: solid 1px rgba(55, 22, 20, .5);
        border-right: none;
        font-size: 0;
        z-index: 1000;
    }

    .stat-bar li {
        font-size: 14px;
        margin: 0 1px 0 0;
        padding: 0;
        overflow: hidden;
    }

    .stat-bar li:hover {
        background-color: rgba(255, 255, 255, .1);
    }

    .stat-bar li div {
        padding: 2px 15px 2px 15px;
        text-align: right;
        vertical-align: middle;
        cursor: pointer;
        display: inline-block;
    }

    .disabled {
        opacity: .5;
    }

</style>
<div ng-controller="GameUi">
    <ul id="top-bar" class="grad-down">
        <li>
            <div>Score</div>
            <div>{{Player.Score | number : 0}}</div>
            <div>&nbsp;</div>
        </li>
        <li>
            <div>Health</div>
            <div>{{Player.HomeBase.Health}}</div>
            <div>&nbsp;</div>
        </li>
        <li ng-repeat="(key, value) in Player.resources">
            <div>{{key}}</div>
            <div>{{value | number : 0}}</div>
            <div style="color: #faa;">{{GetCost(Cost, key) || '&nbsp;'}}</div>
        </li>
        <li>
            <div>Waves Left</div>
            <div>{{level.TotalWaves()}}</div>
            <div>&nbsp;</div>
        </li>
    </ul>
    <ul id="building-list" class="list">
        <li class="title">Buildings</li>
        <li class="button right smaller {{value == PlacementBuilding() && 'button-active' || ''}}"
            ng-repeat="(key, value) in buildings" ng-click="createBuilding(value)"
            ng-mouseover="setCost(value.cost)" ng-mouseleave="hideCost()">
            {{ToTitle(key)}}
        </li>
    </ul>
    <ul class="stat-bar" ng-show="level.selection != null">
        <li ng-show="level.selection != null" ng-repeat="(key, value) in level.selection.abilities.upgrades.weapon"
            ng-click="value.upgrade()"
            ng-mouseover="setCost(value.cost)"
            ng-mouseleave="hideCost()"
            class="{{value.canUpgrade() == false && 'disabled' || 'enabled'}}">
            <div>{{ToTitle(key)}}</div>
            <div>{{value() | number : 2}}</div>
        </li>
        <li ng-repeat="(key, value) in level.selection.abilities.upgrades.building"
            ng-click="value.upgrade()"
            ng-mouseover="setCost(value.cost)"
            ng-mouseleave="hideCost()"
            class="{{value.canUpgrade() == false && 'disabled' || 'enabled'}}">
            <div>{{ToTitle(key)}}</div>
            <div>{{value() | number : 2}}</div>
        </li>
    </ul>
    <div id="event-catcher" ng-click="hideCost()"></div>
</div>
