<div ng-controller="GameUi">
    <ul id="building-list" class="list">
        <li class="title">Buildings</li>
        <li class="button right smaller {{value == PlacementBuilding() && 'button-active' || ''}}"
            ng-repeat="(key, value) in buildings" ng-click="createBuilding(value)"
            ng-mouseover="setCost(value.cost)" ng-mouseleave="hideCost()">
            {{ToTitle(key)}}
        </li>
    </ul>
    <ul class="stat-bar" ng-show="level.selection != null">
        <li ng-show="level.selection != null" ng-repeat="(key, value) in level.selection.abilities.upgrades.weapon"
            ng-click="value.upgrade()"
            ng-mouseover="setCost(value.cost)"
            ng-mouseleave="hideCost()"
            class="{{value.canUpgrade() == false && 'disabled' || 'enabled'}}">
            <div>{{ToTitle(key)}}</div>
            <div>{{value() | number : 2}}</div>
        </li>
        <li ng-repeat="(key, value) in level.selection.abilities.upgrades.building"
            ng-click="value.upgrade()"
            ng-mouseover="setCost(value.cost)"
            ng-mouseleave="hideCost()"
            class="{{value.canUpgrade() == false && 'disabled' || 'enabled'}}">
            <div>{{ToTitle(key)}}</div>
            <div>{{value() | number : 2}}</div>
        </li>
    </ul>
    <div id="event-catcher" ng-click="hideCost()"></div>
</div>
