body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 12);
    color: #eee;
    font-family: Audiowide, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 16, 4, .5);
    z-index: -1;
}

.left-border10 {
    border-left: solid 10px rgba(150,120,100,.15);
}

.left-border20 {
    border-left: solid 20px rgba(150,120,100,.15);
}

.right-border10 {
    border-right: solid 10px rgba(150,120,100,.15);
}

.right-border20 {
    border-right: solid 20px rgba(150,120,100,.15);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.smaller {
    font-size: smaller;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

    .list li {
        cursor: default;
        padding: 8px 15px 8px 15px;
        margin-bottom: 1px;
        background-color: rgba(100, 100, 100, .1);
    }

    .list .title {
        font-weight: bold;
        background-color: rgba(150, 120, 100, .15);
        text-align: center;
    }

    .list .button {
        cursor: pointer;
    }

        .list .button:hover {
            background-color: rgba(150, 120, 100, .15);
        }

        .list .button:active {
            background-color: rgba(160, 120, 100, .19);
        }

