body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 12);
    color: #eee;
    font-family: Audiowide, serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 16, 4, .5);
    z-index: -1;
}

.left-border10 {
    border-left: solid 10px rgb(44, 18, 16);
}

.left-border20 {
    border-left: solid 20px rgb(44, 18, 16);
}

.right-border10:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 10px;
    background: linear-gradient(to right, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
    border-right: ridge 3px rgba(25, 25, 25, .75);
}

.right-border20:after {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.smaller {
    font-size: smaller;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.list li {
    cursor: default;
    padding: 8px 15px 8px 15px;
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, .1);
}

.list .title {
    font-weight: bold;
    background-color: rgb(44, 18, 16);
    text-align: center;
}

.list .button {
    cursor: pointer;
}

.list .button:hover {
    background-color: rgba(255, 255, 255, .15);
}

.list .button:active, .list .button-active {
    background-color: rgba(155, 255, 155, .3) !important;
}

.grad-down {
    background: linear-gradient(to bottom, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
}

.grad-right {
    background: linear-gradient(to right, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
}

.grad-left {
    background: linear-gradient(to left, rgba(35, 35, 35, .75), rgba(18, 18, 18, .75));
}